* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #87ceeb;
    overflow: hidden;
    text-align: center;
}

body.night {
    background: #0b0b0b;
    color: white;
}

header, nav {
    background: #111;
    color: white;
    padding: 10px;
}

button {
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
}

#yol {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: repeating-linear-gradient(
        to bottom,
        #555,
        #555 20px,
        #111 20px,
        #111 40px
    );
    z-index: -1;
}

#araba {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
}

#araba img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

/* FARLAR */
.far {
    position: absolute;
    top: 35px;
    width: 20px;
    height: 12px;
    background: rgba(255,255,200,0.2);
    filter: blur(4px);
    transition: 0.2s;
    z-index: 3;
}

.far.sol { left: -15px; }
.far.sag { right: -15px; }

.far.acik {
    background: rgba(255,255,220,1);
    box-shadow: 0 0 20px 8px rgba(255,255,200,0.9);
}

/* STOP */
.stop {
    position: absolute;
    bottom: 20px;
    width: 15px;
    height: 10px;
    background: rgba(255,0,0,0.3);
    filter: blur(3px);
    z-index: 3;
}

.stop.sol { left: 10px; }
.stop.sag { right: 10px; }

.stop.active {
    background: red;
    box-shadow: 0 0 15px 6px red;
}

/* NEON */
.neon {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 12px;
    background: cyan;
    filter: blur(15px);
    opacity: 0.3;
    transition: 0.3s;
    z-index: 1;
}

.neon.active {
    opacity: 1;
    box-shadow: 0 0 30px cyan;
}

/* PANEL */
.panel {
    position: absolute;
    top: 120px;
    left: 20px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.rpm {
    width: 200px;
    height: 20px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}

#rpmBar {
    height: 100%;
    width: 0%;
    background: red;
}

#alev {
    display: none;
    font-size: 25px;
}

#alev.active {
    display: block;
}

body.night #yol {
    background: repeating-linear-gradient(
        to bottom,
        #222,
        #222 20px,
        #000 20px,
        #000 40px
    );
}
